@model IEnumerable<Projektdatenbank.Models.TKunde>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            KuName
        </th>
        <th>
            KuVorname
        </th>
        <th>
            KuEmail
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KuName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KuVorname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KuEmail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KuID }) |
            @Html.ActionLink("Details", "Details", new { id=item.KuID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KuID })
        </td>
    </tr>
}

</table>
